paradise_office_site/sandbox_v1.0/cygnet_maker/cy_tests/simple_word_processor/application.dtd

<!DOCTYPE program [
<!ELEMENT program (meta-information, formats, layout)>
  <!ELEMENT meta-information (app_info, author_info, security, language)>
    <!ELEMENT app_info (name, description, created, modified)>
      <!ELEMENT name (#PCDATA)>
      <!ELEMENT description (#PCDATA)>
      <!ELEMENT created EMPTY>
        <!ATTLIST created date CDATA #REQUIRED>
      <!ELEMENT modified EMPTY>
        <!ATTLIST modified date CDATA #REQUIRED>
    <!ELEMENT author_info (name+,email?, company?)>
      <!ELEMENT name (#PCDATA)>
      <!ELEMENT email (#PCDATA)>
      <!ELEMENT company (#PCDATA)>
    <!ELEMENT security (encryption, keyfile, originating)>
      <!ELEMENT encryption EMPTY>
        <!ATTLIST encryption method (md5|gnupg|cert) #REQUIRED "md5">
      <!ELEMENT keyfile EMPTY>
        <!ATTLIST keyfile link CDATA #REQUIRED>
      <!ELEMENT originating EMPTY>
        <!ATTLIST originating domain CDATA #REQUIRED "http://www.paradise-office.co.uk" >
    <!ELEMENT language EMPTY>
      <!ATTLIST language locale (en-gb | en-us) #REQUIRED "en-gb">
      <!ATTLIST language text (en-gb | en-us) #REQUIRED "en-gb">
      <!ATTLIST language direction (ltr | rtl) #REQUIRED "ltr">
  <!ELEMENT formats (write_open_document_word_files|read_open_document_word_files|write_text_files|read_text_files|write_web_pages|read_web_pages|write_ms_doc_files|read_ms_doc_files|write_open_document_spreadsheets| read_open_document_spreadsheets | write_open_document_presentations | read__open_document_presentations | write_scrolls_xml | read_scrolls_xml | read_ms_excel_files | write_ms_excel_files | read_ms_powerpoint_files | write_ms_powerpoint_files)+ >
    <!ELEMENT write_open_document_word_files EMPTY>
    <!ELEMENT read_open_document_word_files EMPTY>
    <!ELEMENT write_text_files EMPTY>
      <!ATTLIST write_text_files file_ending (linux_or_mac|windows) #REQUIRED "windows">
    <!ELEMENT read_text_files EMPTY>
      <!ATTLIST read_text_files file_ending (linux_or_mac|windows) #REQUIRED "windows">
    <!ELEMENT write_web_pages EMPTY>
      <!ATTLIST write_web_pages type (legacy|modern) #REQUIRED>
    <!ELEMENT read_web_pages EMPTY>
      <!ATTLIST read_web_pages type (legacy|modern) #REQUIRED>
    <!ELEMENT write_ms_doc_files EMPTY>
      <!ATTLIST write_ms_doc_files office-version (1997|2000|2003|2007|2010|2013) #IMPLIED>
    <!ELEMENT read_ms_doc_files EMPTY>
      <!ATTLIST read_ms_doc_files office-version (1997|2000|2003|2007|2010|2013) #IMPLIED>
    <!ELEMENT write_open_document_spreadsheets EMPTY>
    <!ELEMENT read_open_document_spreadsheets EMPTY>
    <!ELEMENT write_open_document_presentations EMPTY>
    <!ELEMENT read_open_document_presentations EMPTY>
    <!ELEMENT write_scrolls_xml EMPTY>
    <!ELEMENT read_scrolls_xml EMPTY>
    <!ELEMENT read_ms_excel_files EMPTY>
      <!ATTLIST read_ms_excel_files office-version (1997|2000|2003|2007|2010|2013) #IMPLIED>
    <!ELEMENT write_ms_excel_files EMPTY>
      <!ATTLIST write_ms_excel_files office-version (1997|2000|2003|2007|2010|2013) #IMPLIED>
    <!ELEMENT read_ms_powerpoint_files EMPTY>
      <!ATTLIST read_ms_powerpoint_files office-version (1997|2000|2003|2007|2010|2013) #IMPLIED>
    <!ELEMENT write_ms_powerpoint_files EMPTY>
      <!ATTLIST write_ms_powerpoint_files office-version (1997|2000|2003|2007|2010|2013) #IMPLIED>
      
  <!ELEMENT layout ((menu_bar, common_bar, file_port, status_bar)|tool_pane)>
    <!ATTLIST layout type (phone|tablet|screen|large_screen) #REQUIRED "screen">
    <!ATTLIST layout effects (none|animation) #REQUIRED "none">
  <!ELEMENT menu_bar (menu)+>
    <!ATTLIST menu_bar no_of_menus CDATA #REQUIRED "1">
    <!ELEMENT menu (menu_item)+>
      <!ATTLIST menu name CDATA #REQUIRED>
      <!ATTLIST menu acckey CDATA #REQUIRED>
      <!ELEMENT menu_item EMPTY>
        <!ATTLIST menu_item name CDATA #REQUIRED>
        <!ATTLIST menu_item acckey CDATA #REQUIRED>
        <!ATTLIST menu_item command (new|open_upload|save_download|save_as_dl|close_file|convert_bfile|                 prepare_statment|log_in|log_out|add_data|query_data|describe_tables|set_up_keys|security_settings|delete_data|update_data|alter_tables|create_tables|create_forms|alter_forms|insert_data_in_forms|create_reports|modify_reports|lexigraphic_checker|ok|cancel) #IMPLIED>
        <!ATTLIST menu_item open_browser (upload_box|download_box|print_box) #IMPLIED>
        <!ATTLIST menu_item opens_dialog CDATA #IMPLIED>
        <!ATTLIST menu_item plugin CDATA #IMPLIED>
        <!ATTLIST menu_item options CDATA #IMPLIED>
        
    <!ELEMENT common_bar (large_icon|control)+>
      <!ELEMENT large_icon EMPTY>
        <!ATTLIST large_icon name CDATA #REQUIRED>
        <!ATTLIST large_icon acckey CDATA #REQUIRED>
        <!ATTLIST large_icon pic CDATA #REQUIRED>
        <!ATTLIST large_icon command (new|open_upload|save_download|save_as_dl|close_file|convert_bfile|                 prepare_statment|log_in|log_out|add_data|query_data|describe_tables|set_up_keys|security_settings|delete_data|update_data|alter_tables|create_tables|create_forms|alter_forms|insert_data_in_forms|create_reports|modify_reports|lexigraphic_checker|ok|cancel) #IMPLIED>
        <!ATTLIST large_icon plugin CDATA #IMPLIED>
        <!ATTLIST large_icon open_browser (upload_box|download_box|print_box) #IMPLIED>
        <!ATTLIST large_icon opens_dialog CDATA #IMPLIED>
        <!ATTLIST large_icon options CDATA #IMPLIED>
        <!ATTLIST large_icon align (left|right|centre) #IMPLIED>
        
      <!ELEMENT control EMPTY (combo_box|spinbox|checkbox_wLabel|radio_btns_wLabel|button|slider|progress_bar|text_field|date_field|time_field|colour_swatches|clipboard_entries_list)+>
        <!ATTLIST control name CDATA #REQUIRED>
        <!ATTLIST control acckey CDATA #REQUIRED>
        <!ATTLIST control spans (1 icon|2 icons|3 icons|4 icons) #REQUIRED>
        <!ELEMENT combo_box EMPTY>
          <!ATTLIST combo_box type (drop down|multi|spinner) #REQUIRED>
          <!ATTLIST combo_box plugin CDATA #IMPLIED>
          <!ATTLIST combo_box pic CDATA #IMPLIED>
          <!ATTLIST combo_box default CDATA #IMPLIED>
        <!ELEMENT spinbox EMPTY>
          <!ATTLIST spinbox default CDATA #IMPLIED>
          <!ATTLIST spinbox step_size CDATA #REQUIRED>
          <!ATTLIST spinbox plugin CDATA #IMPLIED>
          <!ATTLIST spinbox options CDATA #REQUIRED>
        <!ELEMENT checkbox_wLabel EMPTY>
          <!ATTLIST checkbox_wLabel name CDATA #REQUIRED>
          <!ATTLIST checkbox_wLabel plugin CDATA #IMPLIED>
          <!ATTLIST checkbox_wLabel options CDATA #IMPLIED>
        <!ELEMENT radio_btns_wLabel EMPTY>
          <!ATTLIST radio_btns_wLabel name CDATA #REQUIRED>
          <!ATTLIST radio_btns_wLabel plugin CDATA #IMPLIED>
          <!ATTLIST radio_btns_wLabel options CDATA #IMPLIED>
          <!ATTLIST radio_btns_wLabel group CDATA #REQUIRED>
        <!ELEMENT button EMPTY>
          <!ATTLIST button name CDATA #REQUIRED>
          <!ATTLIST button command (new|open_upload|save_download|save_as_dl|close_file|convert_bfile|                 prepare_statment|log_in|log_out|add_data|query_data|describe_tables|set_up_keys|security_settings|delete_data|update_data|alter_tables|create_tables|create_forms|alter_forms|insert_data_in_forms|create_reports|modify_reports|lexigraphic_checker|ok|cancel) #IMPLIED>
          <!ATTLIST button plugin CDATA #IMPLIED>
          <!ATTLIST button options CDATA #IMPLIED>
          <!ATTLIST button (left|right|centre) #IMPLIED>
        <!ELEMENT slider EMPTY>
          <!ATTLIST slider min CDATA #REQUIRED>
          <!ATTLIST slider max CDATA #REQUIRED>
          <!ATTLIST slider default CDATA #IMPLIED>
          <!ATTLIST slider plugin CDATA #IMPLIED>
          <!ATTLIST slider options CDATA #IMPLIED>
        <!ELEMENT progress_bar EMPTY>
          <!ATTLIST progress_bar min CDATA #REQUIRED>
          <!ATTLIST progress_bar max CDATA #REQUIRED>
          <!ATTLIST progress_bar default CDATA #IMPLIED>
          <!ATTLIST progress_bar plugin CDATA #IMPLIED>
          <!ATTLIST progress_bar options CDATA #IMPLIED>
          <!ATTLIST progress_bar type (vertical|horizontal) #REQUIRED "horizontal" >
        <!ELEMENT text_field EMPTY>
          <!ATTLIST text_field name CDATA #REQUIRED>
          <!ATTLIST text_field spans (10 chars|25 chars|50 chars|100 chars) "50 chars">
          <!ATTLIST text_field plugin CDATA #REQUIRED>
          <!ATTLIST text_field options CDATA #REQUIRED>
          <!ATTLIST text_field valid (credit_card_num|custom_card|email_address|national_insurance|post_code|zip_code|short_text|uk_mobile_num|uk_phone_num|us_mobile_num|us_phone_num|web_address) "short_text">
        <!ELEMENT date_field EMPTY>
          <!ATTLIST date_field name CDATA #REQUIRED>
          <!ATTLIST date_field min CDATA #IMPLIED>
          <!ATTLIST date_field max CDATA #IMPLIED>
          <!ATTLIST date_field plugin CDATA #REQUIRED>
          <!ATTLIST date_field options CDATA #REQUIRED>
        <!ELEMENT time_field EMPTY>
          <!ATTLIST time_field name CDATA #REQUIRED>
          <!ATTLIST time_field min CDATA #IMPLIED>
          <!ATTLIST time_field max CDATA #IMPLIED>
          <!ATTLIST time_field plugin CDATA #REQUIRED>
          <!ATTLIST time_field options CDATA #REQUIRED>
        <!ELEMENT colour_swatches EMPTY>
          <!ATTLIST colour_swatches name CDATA #REQUIRED>
          <!ATTLIST colour_swatches plugin CDATA #REQUIRED>
          <!ATTLIST colour_swatches options CDATA #IMPLIED>
          <!ATTLIST colour_swatches max_colours CDATA "12">
        <!ELEMENT clipboard_entries_list EMPTY>
          <!ATTLIST clipboard_entries_list command CDATA #FIXED "clipboard_words">
          <!ATTLIST clipboard_entries_list name CDATA #REQUIRED>
          
      <!ELEMENT tool_pane (tool_box)+>
        <!ELEMENT tool_box (control|icon)+>
          <!ATTLIST tool_box name CDATA #REQUIRED>
         <!ELEMENT control EMPTY (combo_box|spinbox|checkbox_wLabel|radio_btns_wLabel|button|slider|progress_bar|text_field|date_field|time_field|colour_swatches|clipboard_entries_list)+>
        <!ATTLIST control name CDATA #REQUIRED>
        <!ATTLIST control spans (1 icon|2 icons|3 icons|4 icons) #REQUIRED>
        <!ELEMENT combo_box EMPTY>
          <!ATTLIST combo_box type (drop down|multi|spinner) #REQUIRED>
          <!ATTLIST combo_box plugin CDATA #IMPLIED>
          <!ATTLIST combo_box pic CDATA #IMPLIED>
          <!ATTLIST combo_box default CDATA #IMPLIED>
        <!ELEMENT spinbox EMPTY>
          <!ATTLIST spinbox default CDATA #IMPLIED>
          <!ATTLIST spinbox step_size CDATA #REQUIRED>
          <!ATTLIST spinbox plugin CDATA #IMPLIED>
          <!ATTLIST spinbox options CDATA #REQUIRED>
        <!ELEMENT checkbox_wLabel EMPTY>
          <!ATTLIST checkbox_wLabel name CDATA #REQUIRED>
          <!ATTLIST checkbox_wLabel plugin CDATA #IMPLIED>
          <!ATTLIST checkbox_wLabel options CDATA #IMPLIED>
        <!ELEMENT radio_btns_wLabel EMPTY>
          <!ATTLIST radio_btns_wLabel name CDATA #REQUIRED>
          <!ATTLIST radio_btns_wLabel plugin CDATA #IMPLIED>
          <!ATTLIST radio_btns_wLabel options CDATA #IMPLIED>
          <!ATTLIST radio_btns_wLabel group CDATA #REQUIRED>
        <!ELEMENT button EMPTY>
          <!ATTLIST button name CDATA #REQUIRED>
          <!ATTLIST button command (new|open_upload|save_download|save_as_dl|close_file|convert_bfile|                 prepare_statment|log_in|log_out|add_data|query_data|describe_tables|set_up_keys|security_settings|delete_data|update_data|alter_tables|create_tables|create_forms|alter_forms|insert_data_in_forms|create_reports|modify_reports|lexigraphic_checker|ok|cancel) #IMPLIED>
          <!ATTLIST button plugin CDATA #IMPLIED>
          <!ATTLIST button options CDATA #IMPLIED>
        <!ELEMENT slider EMPTY>
          <!ATTLIST slider min CDATA #REQUIRED>
          <!ATTLIST slider max CDATA #REQUIRED>
          <!ATTLIST slider default CDATA #IMPLIED>
          <!ATTLIST slider plugin CDATA #IMPLIED>
          <!ATTLIST slider options CDATA #IMPLIED>
        <!ELEMENT progress_bar EMPTY>
          <!ATTLIST progress_bar min CDATA #REQUIRED>
          <!ATTLIST progress_bar max CDATA #REQUIRED>
          <!ATTLIST progress_bar default CDATA #IMPLIED>
          <!ATTLIST progress_bar plugin CDATA #IMPLIED>
          <!ATTLIST progress_bar options CDATA #IMPLIED>
          <!ATTLIST progress_bar type (vertical|horizontal) #REQUIRED "horizontal" >
        <!ELEMENT text_field EMPTY>
          <!ATTLIST text_field name CDATA #REQUIRED>
          <!ATTLIST text_field spans (10 chars|25 chars|50 chars|100 chars) "50 chars">
          <!ATTLIST text_field plugin CDATA #REQUIRED>
          <!ATTLIST text_field options CDATA #REQUIRED>
        <!ELEMENT date_field EMPTY>
          <!ATTLIST date_field name CDATA #REQUIRED>
          <!ATTLIST date_field min CDATA #IMPLIED>
          <!ATTLIST date_field max CDATA #IMPLIED>
          <!ATTLIST date_field plugin CDATA #REQUIRED>
          <!ATTLIST date_field options CDATA #REQUIRED>
        <!ELEMENT time_field EMPTY>
          <!ATTLIST time_field name CDATA #REQUIRED>
          <!ATTLIST time_field min CDATA #IMPLIED>
          <!ATTLIST time_field max CDATA #IMPLIED>
          <!ATTLIST time_field plugin CDATA #REQUIRED>
          <!ATTLIST time_field options CDATA #REQUIRED>
        <!ELEMENT colour_swatches EMPTY>
          <!ATTLIST colour_swatches name CDATA #REQUIRED>
          <!ATTLIST colour_swatches plugin CDATA #REQUIRED>
          <!ATTLIST colour_swatches options CDATA #IMPLIED>
          <!ATTLIST colour_swatches max_colours CDATA "12">
        <!ELEMENT clipboard_entries_list EMPTY>
          <!ATTLIST clipboard_entries_list command CDATA #FIXED "clipboard_words">
          <!ATTLIST clipboard_entries_list name CDATA #REQUIRED>
          
      <!ELEMENT icon EMPTY>
        <!ATTLIST icon name CDATA #REQUIRED>
        <!ATTLIST icon acckey CDATA #IMPLIED>
        <!ATTLIST icon pic CDATA #REQUIRED>
        <!ATTLIST icon plugin CDATA #REQUIRED>
        <!ATTLIST icon options CDATA #IMPLIED>
    <!ELEMENT file_port (context_menu*,lexigraphic_checker)>
      <!ATTLIST file_port type (page|calendar|tabular) #REQUIRED>
      <!ELEMENT context_menu (menu,(menu_item)+)>
        <!ELEMENT menu (menu_item)+>
          <!ATTLIST menu name CDATA #REQUIRED>
          <!ATTLIST menu acckey CDATA #REQUIRED>
          <!ELEMENT menu_item EMPTY>
            <!ATTLIST menu_item name CDATA #REQUIRED>
            <!ATTLIST menu_item acckey CDATA #REQUIRED>
            <!ATTLIST menu_item command (new|open_upload|save_download|save_as_dl|close_file|convert_bfile|                 prepare_statment|log_in|log_out|add_data|query_data|describe_tables|set_up_keys|security_settings|delete_data|update_data|alter_tables|create_tables|create_forms|alter_forms|insert_data_in_forms|create_reports|modify_reports|lexigraphic_checker|ok|cancel) #IMPLIED>
            <!ATTLIST menu_item open_browser (upload_box|download_box|print_box) #IMPLIED>
            <!ATTLIST menu_item opens_dialog CDATA #IMPLIED>
            <!ATTLIST menu_item plugin CDATA #IMPLIED>
            <!ATTLIST menu_item options CDATA #IMPLIED>
            <!ATTLIST menu_item pic CDATA #REQUIRED>
    <!ELEMENT lexigraphic_checker EMPTY>
      <!ATTLIST lexigraphic_checker mode (autocheck_both|grammar_on|spelling_on) #REQUIRED>
    <!ELEMENT status_bar (label)*>
      <!ELEMENT label EMPTY>
      <!ATTLIST label command CDATA #FIXED "update_status_msgs">
      <!ATTLIST label update (1 min|5 min|30 min| 1 hour) #REQUIRED "1 min">
      <!ATTLIST label name CDATA #REQUIRED>
      <!ATTLIST label plugin CDATA #REQUIRED>
      <!ATTLIST label options CDATA #IMPLIED>
      
]>
